<!DOCTYPE html>

{% load staticfiles %}
<head>
	<link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}'/>
	<link rel='stylesheet' href='{% static "css/style.css" %}'/>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'/>
</head>
<body>
<div class="container">
	<nav>
		<ul class="nav nav-pills row">
  			<li class="nav-item">
    			<a class="nav-link active" href="http://localhost:8000/testApp">News</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" href="http://localhost:8000/testApp/sport">Sport</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" href="http://localhost:8000/testApp/bussiness">Bussiness</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" href="http://localhost:8000/testApp/login">Login</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" href="http://localhost:8000/testApp/signup">Sign Up</a>
  			</li>
  			<li class="nav-item">
    			<a id="accInfo" class="nav-link disabled" href="http://localhost:8000/testApp/accountInfo">Account</a>
  			</li>
		</ul>
	</nav>
		{% block content %}
		<form class="form" method="post" action="" id='form1'>
			{% csrf_token %}
      <div id="title" class="row"></div> 
      <img id="image" class="row" alt="no picture"> 
      <div id="like" class="row">
        <div id="like-icon">
          <div id="like-icon-like">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          </div>
          <div id="like-icon-dislike">
            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <p id="text" class="row"></p>
      <div id="comment-container" class="row">
        <div id="comment" class="container">
            <div id="comment-input-container" class="row">
  			     <label id="comment-label">Add Comment:</label>
  			     <input id="comment-input" type="text" class="form-control">
		   	     <input id="add-button" type="submit" class="btn btn-success" value='Add'>
            </div>
            <ul id="comments" class="row"></ul>
        </div>
      </div>
		</form>
		{% endblock %}
</div>
<script type='text/javascript' src='{% static "js/jquery-3.2.1.js" %}'></script>
<script type='text/javascript' src='{% static "js/testScript.js" %}'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>